@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;
$primary: #363636;
$dark: #303030;
$footer-background-color: $dark;
$footer-color: true;
$scheme-main: $primary;
$scheme-main-bis: #343434;
$link: #afafaf;
@import "../node_modules/bulma/bulma.sass";